<!DOCTYPE html>
<html>
{% extends 'gamesim/base.html' %}    
{% load staticfiles %}

<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>{% block title %}Analyze Job Dispatcher{% endblock %}</title>

</head>

<body >
    <h2 class="title">TexasHoldem HoleHand Probability Analysis</h1>
    
    {% block content %}

    <br/>
    <b id="analyze_job" ></b><br />
    <b id="analyze_dispatcher_status">Job Dispatcher is: {{ dispatcher_status1.status }}</b><br/>
    <b id="analyze_dispatcher_time">Job has ran for: </b><br />
    <br />
    <button id="analyze_reset_dispatch" type="button">Reset Dispatcher</button>
    <br />
    <br />

    <table id="analyze_update"> 
	   <tbody id="tbody">
	   </tbody>
    </table>

    <button id="analyze_get_status"  data-analyzeid="{{ dispatcher_status1.id}}" type="button" 
	   class="{{ dispatcher_status1.status }}" hidden="hidden"  >Status</button>
    <button id="analyze_get_l_status"  type="button" hidden="hidden"  > Analyzer Status</button>
    
    <script src="{% static 'js/analyze-dispatcher.js' %}"></script>
    {% endblock %}
</body>

</html>