<!DOCTYPE html>
<html>
{% extends 'gamesim/base.html' %} {% load staticfiles %}

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>{% block title %}Finished Jobs{% endblock %}</title>
    {% block head_scripts %}{% endblock %}
</head>

<body>
    {% block content %} 
        {% if finished_job_list %}
            <h3>Select Jobs to Analyze</h3> 
        {% else %}
            <h3>No Jobs ran in time period</h3> 
        {% endif %}
        
        {% if finished_job_list %}
            <form action="{% url 'gamesim:analyze' %}" method="post">
                
                <div class="checkbox-group">
                    <ul>
                        <div class="parent-checkbox">
                            <li class="selectall">
                                <input id="selectall1" type="checkbox" name="job_names" value="all_jobs" checked="" /> Select All Jobs
                                <br />
                            </li>
                        </div>

                        <div class="child-checkbox">
                            {% for job in finished_job_list %}
                            <li class="selectone">
                                <input class="checkbox1" name="job_names" type="checkbox" value="{{job.job_name}}" checked="" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="{% url 'gamesim:Finished_Job' job.id %}">{{ job.job_name }}</a>
                            </li>
                            {% endfor %}
                        </div>
                    </ul>
                    <br />
                </div>
                <input id="submit_jobs" name="Submit1" type="submit" value="submit" />
            </form>
        {% endif %} 
    {% endblock %}
</body>

</html>