<!DOCTYPE html>
{% load staticfiles %}

<html ng-app="game-sim">

<head>

    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <link href="{% static 'plugins/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/jquery-ui.css' %}" rel="stylesheet">

    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    


    <title>{% block title %}Game Simulation Base{% endblock%}</title>

    {% block head_scripts %}{% endblock %}

</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" ">
        <div class="container-fluid ">
        <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header ">
                <button type="button " class="navbar-toggle collapsed " data-toggle="collapse " data-target="#bs-example-navbar-collapse-1
                " aria-expanded="false ">
                    <span class="sr-only ">Toggle navigation</span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar "></span>
                    <span class="icon-bar "></span>
                </button>
                <a class="navbar-brand " ui-sref="home ">TH 4 U</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse " id="bs-example-navbar-collapse-1 ">
                <ul class="nav navbar-nav ">
                    <li class="active "><a href="# ">Register <span class="sr-only ">(current)</span></a></li>
                    <li><a href="# ">Login</a></li>
                    <li class="dropdown ">
                        <a href="# " class="dropdown-toggle " data-toggle="dropdown " role="button " aria-haspopup="true
                        " aria-expanded="false ">Job Options <span class="caret "></span></a>
                        <ul class="dropdown-menu ">
                            <li><a ui-sref="create_sim ">Create Simulation</a></li>
                            <li><a ui-sref="query_job ">Simulation Queue</a></li>
                            <li><a ui-sref="job_dispatcher">Simulation Dispatcher</a></li>
                            <li><a ui-sref="analyze_jobs">Query Finished Jobs</a></li>
                            <li><a ui-sref="query_analyze_job" >Select Analysis Jobs</a></li>
                            <li><a ui-sref="analyze_queue">Analysis Queue</a></li>
                            <li><a ui-sref="analyze_dispatcher">Analysis Dispatcher</a></li>
                            <li><a ui-sref="query_analyzed_jobs" >Select Analyzed Jobs</a></li>
                            <li><a ui-sref="initialize_simulation">Initialize Simulation</a></li>              

                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 id="title " class="title ">TexasHoldem HoleHand Probability Simulation</h2>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm-2">
                <div id="sidebar " class = "sidebar ">
                    {% block footer %}
                    <br/>
                    <h3>Job Options</h3>
                    <ul class="job-options">
                        <li><a ui-sref="create_sim"  >Create Simulation</a></li>
                        <li><a ui-sref="query_job" >Simulation Queue</a></li>
                        <li><a ui-sref="job_dispatcher">Simulation Dispatcher</a></li>		
                        <li><a ui-sref="analyze_jobs" >Query Finished Jobs</a></li>
                        <li><a ui-sref="query_analyze_job" >Select Jobs To Analyze</a></li>
                        <li><a ui-sref="analyze_queue">Analysis Queue</a></li>
                        <li><a ui-sref="analyze_dispatcher" >Analysis Dispatcher</a></li>
                        <li><a ui-sref="query_analyzed_jobs" >Select Analyzed Jobs</a></li>        				
                        <li><a ui-sref="initialize_simulation">Initialize Simulation</a></li>
                    </ul>       
                    {% endblock %}
                </div>
            </div>
            <div class="col-sm-8">
                <div id="content " class="content ">
                    {% verbatim %}
                        <ui-view></ui-view>
                    {% endverbatim %}
        
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>  
    </div>   

    <script src="{% static 'plugins/jquery/dist/jquery.min.js' %} "></script>  
    <script src="{% static 'plugins/jquery-ui/jquery-ui.min.js' %} "></script>

    <script src="{% static 'plugins/angular/angular.min.js' %} "></script>
    <script src="{% static 'plugins/angular-ui-router/release/angular-ui-router.min.js' %} "></script>

    <!--<script src="{% static 'plugins/bootstrap/dist/js/bootstrap.min.js' %} "></script>-->
    <script src="{% static 'plugins/angular-ui-bootstrap/dist/ui-bootstrap-tpls.js' %} "></script>
    
    <script src="{% static 'plugins/d3/d3.min.js' %} "></script>
    <script src="{% static 'js/test.js' %} "></script>
    <script src="{% static 'js/surface3d.js' %} "></script>

    <script src ="{% static 'config/init.js' %} "></script>
    <script src ="{% static 'config/routes.js' %} "></script>
    <script src ="{% static 'config/resources.js' %} "></script>

    <script src="{% static 'components/home/home-controller.js' %} "></script>
    <script src="{% static 'components/create_sim/create_sim-controller.js' %} "></script>
    <script src="{% static 'components/query_job/query_job-controller.js' %} "></script>
    <script src="{% static 'components/query_job/details-controller.js' %} "></script>
    <script src="{% static 'components/job_dispatcher/job_dispatcher-controller.js' %} "></script>
    <script src="{% static 'components/analyze_jobs/analyze_jobs-controller.js' %} "></script>
    <script src="{% static 'components/query_analyze_job/query_analyze_job-controller.js' %} "></script>
    <script src="{% static 'components/query_analyze_job/details-controller.js' %} "></script>
    <script src="{% static 'components/analyze_queue/analyze_queue-controller.js' %} "></script>
    <script src="{% static 'components/analyze_dispatcher/analyze_dispatcher-controller.js' %} "></script>
    <script src="{% static 'components/query_analyzed_jobs/query_analyzed_jobs-controller.js' %} "></script>
    <script src="{% static 'components/query_analyzed_jobs/charts-controller.js' %} "></script>
    <script src="{% static 'components/query_analyzed_jobs/chart-controller.js' %} "></script>
    <script src="{% static 'components/initialize-simulation/initialize-simulation-controller.js' %} "></script>
</body>

</html>
