<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-us" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Detail</title>
</head>

<body>
    <h1>Pending Job: {{ job.job_name }}</h1>
    <p>Created: {{ job.run_time }}</p>

    <p>Number ofPlayers: {{ job.num_players }}</p>
    <p>Number of CPUs: {{ job.num_cpus }}</p>
    <p>Number of Loops: {{ job.num_loops }}</p>
    <p>Number of Games: {{ job.num_games }}</p>
</body>

</html>
