<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
{% extends 'gamesim/base.html' %}

<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>{% block title %}Pending Jobs{% endblock %}</title>
</head>

<body>

    {% block content %}
    <h3>Job Queue</h3> {% if pending_job_list %}
    <ul>
        {% for job in pending_job_list %}
        <li><a href="{% url 'gamesim:SimStatus' job.id %}">{{ job.job_name }}</a></li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No Pending Jobs</p>
    {% endif %} {% if pending_job_list %}
    <form action="{% url 'gamesim:job_dispatcher' %}" method="post">
        {% csrf_token %} {{ form }}
        <br />
        <input type="submit" value="Run Jobs" />
    </form>
    {% endif %} {% endblock %}
</body>

</html>