<!DOCTYPE html>
<html>
{% extends 'gamesim/base.html' %}
{% load staticfiles %}
<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>{% block title %}Query Jobs{% endblock %}</title>
</head>

<body>
    {% block content %}
        <h3>Select Players and Dates </h3>
        <form method="post" action="{% url 'gamesim:query_jobs' %}">
            {% csrf_token %}
            <label for="num_players">Number Of Players: </label>
            <select id ="num_players"  name="num_players">
                <option value="2">2 players</option>
                <option value="3">3 players</option>
                <option value="4">4 players</option>
                <option value="5">5 players</option>
                <option value="6">6 players</option>
                <option value="7">7 players</option>
                <option value="8">8 players</option>
            </select>
            <label for="start_date">Start Date: </label>
            <input id="start_date" name="start_date" type="text" /><br />
            <label for="end_date">End Date: </label>
            <input id="end_date" name="end_date" type="text" /><br />
            <br />
            <label for="query_jobs">Query Jobs: </label>
            <input id ="query_jobs" name="query_jobs" type="submit" value="Submit" />
        </form>
    {% endblock %}
</body>

</html>
