<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>        
        <h4 ng-if="charts_list.length" class="modal-title">Charts for: {{job_name}}  |  {{selectedJob.num_players}} Players  |  {{selectedJob.num_games}} Games  |  Grand Total: {{selectedJob.grand_num_games}} Games</h3>
        <h4 ng-if="!charts_list.length" class="modal-title">No Charts found: {{job_name}}</h3>
    </div>
    <div class="modal-body modal-body-style">
        <h4 class="modal-title" ng-if="charts_list.length">Select Chart</h4>
        <ul ng-if="charts_list.length" class="finished_job_list">
            <!--<li><input type="checkbox" ng-model="selectedAll" ng-click="checkAll(selectedAll)" />Check All</li>-->
            <li ng-repeat="chart in charts_list"><a ng-click="goChart(chart)" ui-sref="chart({analyzed_job_name: job_name, chart_name:chart})">{{chart}}</a></li>
        </ul>
        <p>{{error}}</p>
    </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancel()">Close</button>
    </div>
</div>