<div>

    <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" ng-click="goJob_Dispatcher()" >&times;</span></button>       
        <h3 class="modal-title">Simulation Dispatcher</h3>

    </div>

    <div class="modal-body modal-body-style">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    <div class="dispatcher-content">

                        <b ng-show="dispatcher_status1.job_name" id="job_name">{{dispatcher_status1.job_name}}</b>
                        <br />
                        <br />
                        <b id="job_dispatcher_status">Job Dispatcher is: {{ dispatcher_status1.status }}</b>
                        <br/>
                        <b ng-show="dispatcher_status1.job_name" id="dispatcher_time">Job has ran for: {{time}}</b>

                    </div>
                </div>

                <div class="col-sm-8">
                    <div class="dispatcher-table">
                        <table ng-if="dispatcher_status1.job_name" id="cpu_update">
                            <thead>
                                <tr>
                                    <th scope="col"> Loop </th>
                                    <th scope="col"> CPU 1 </th>
                                    <th scope="col"> CPU 2 </th>
                                    <th scope="col"> CPU 3 </th>
                                </tr>
                            </thead>
                            <tbody ng-if="renderTable" id="tbody">
                                <tr ng-if="renderTable" ng-repeat="row in table_data track by $index">
                                    <td>{{row.loop_num}}</td>
                                    <td>{{row.cpu1_exit_status}}</td>
                                    <td>{{row.cpu2_exit_status}}</td>
                                    <td>{{row.cpu3_exit_status}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goJob_Dispatcher()">Close</button>
        <button type="button" class="btn btn-danger" ng-click="resetDispatcher()">Reset Dispatcher</button>
    </div>

</div>