#content {
float:left;
margin:30px;
}

#sidebar {
float:left;
margin:10px;

}

.title {
text-align:left;
margin:20px;
color: darkslateblue;
}

body {
font-family:Arial, Helvetica, sans-serif;
background-image:url("/static/img/Holdem.jpg");
background-size: cover;
}

.sidebar {
    color:darkblue;
    background-color:grey;
    text-align:center;
    padding-bottom:20px;
}

.content {
    color: darkslateblue;
}

.dispatcher-content {
    color:darkslateblue;
}

.job-options {
    list-style-type: none;
    padding:0; 
    margin:20px;
    background-color:grey;
    color:darkblue;
}
a {
    list-style-type: none;
    padding:0; 
    margin:0;
    color:darkblue;
}

.modal-body-style {
    height:475px;
}

.finished_job_list {
    -webkit-column-count:3;
    column-count:3;
    -webkit-column-gap: "10px";
    column-gap: "10px";
    list-style-type: none;
}



canvas{
    background-color: #fff;
}


body{
  font-family: sans;
  padding: 10px;
}
svg path{
  stroke: #000;
  stroke-width: 1px;
  stroke: rgba(0,0,0,0.2);
}
svg{
  border: 1px solid #DED8BF;
  background-color: #f4f4d9;
  width: 700px;
  height: 400px;
}
h1{
  font-weight: normal;
  margin: 0;
  padding-left: 5px;
  color: #53483e;
}
p{
  margin: 0;
  margin-bottom: 10px;
  padding-left: 5px;
  color: #917e6b;
}
/*ul{
  width: 200px;
  float: left;
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
li{
  cursor: pointer;
  background-color: #c8ad93;
  padding: 10px;
  margin: 2px;
  color: #fff;
}*/
