
<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="goQuery_job()"><span aria-hidden="true">&times;</span></button>        
        <h3 class="modal-title">{{job_name}}</h3>
    </div>
    <div class="modal-body modal-body-style">
        <form>
            <div class="form-group">
                <label for="playersSelect">Select Number Of Players: </label>
                <select name="playersSelect" id="playersSelect" ng-model="numPlayers.playersSelect" ng-change="putPlayers(numPlayers.playersSelect)">
                    <option ng-repeat="option in numPlayers.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="cpusSelect">Select Number Of CPUs: </label>
                <select name="cpusSelect" id="cpusSelect" ng-model="numCPUs.cpusSelect" ng-change="putCPUs(numCPUs.cpusSelect)">
                    <option ng-repeat="option in numCPUs.availableOptions" value="{{option.id}}">{{option.name}}</option>
                </select>
                <div class="form-group">
                    <label for="num-loops">Number Of Loops</label>
                    <input type="text" id="num-loops" ng-model="simFormData.num_loops">{{simFormLoops.num_loops}}
                </div>
                <div class="form-group">
                    <label for="num-games">Number Of Games per Loop</label>
                    <input type="text" id="num-games" ng-model="simFormData.num_games">{{simFormLoops.num_games}}
                </div>
                <div class="form-group">
                    <label for="save-game">Save Data: </label>
                    <input type="checkbox" id="save-game" ng-model="simFormData.save_game_data">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="goQuery_job()">Close</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="updateSimJob()">Update Job</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteSimJob()">Delete Job</button>        
    </div>
</div>